<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activate your account</title>
</head>

<body style="
      background-color: #f3f4f5;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    ">
    <div style="
        width: 600px;
        margin: 20px auto;
        padding: 24px 32px;
        background-color: white;
        font-size: 16px;
      ">
        <image src="../../client/src/assets/logo.png" style="height: 27px; display: inline" />

        <p style="
          font-size: 24px;
          font-weight: bold;
          color: #0095da;
          display: inline;
        ">
            Shop
        </p>
        <span style="
          font-size: 24px;
          font-weight: bold;
          color: #f7931e;
          display: inline;

          padding-left: -20px;
        ">
            edia
        </span>
        <div style="padding-top: 24px">
            <p style="display: inline">Hello</p>
            <p style="display: inline; font-weight: bold; text-transform: capitalize;">{{username}},</p>
        </div>
        <div>
            <p style="font-weight: bold; font-size: 18px">
                A request has been received to change the password for your Shopedia account.
            </p>
            <div>
                <center>
                    <a href="{{resetPasswordLink}}" style="text-decoration: none">
                        <div style="
                width: 50%;
                padding: 8px;
                font-weight: bold;
                color: white;
                background-color: #f7931e;
                border: 0px;
                border-radius: 5px;
                text-align: center;
                margin-top: 30px;
              ">
                            Reset Password
                        </div>
                    </a>
                </center>
            </div>
            <p style="font-size: 14px;">The button above is only valid for 1 hour.</p>
            <div style="margin-top: 30px;">
                <p>Thank you, <br>The Shopedia Team</p>
            </div>
        </div>
    </div>
</body>

</html>