<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activate your account</title>
  </head>
  <body
    style="
      background-color: #f3f4f5;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    "
  >
    <div
      style="
        width: 600px;
        margin: 20px auto;
        padding: 24px 32px;
        background-color: white;
        font-size: 16px;
      "
    >
      <image
        src="../../client/src/assets/logo.png"
        style="height: 27px; display: inline"
      />

      <p
        style="
          font-size: 24px;
          font-weight: bold;
          color: #0095da;
          display: inline;
        "
      >
        Shop
      </p>
      <p
        style="
          font-size: 24px;
          font-weight: bold;
          color: #f7931e;
          display: inline;

          margin-left: -6px;
        "
      >
        edia
      </p>
      <div style="padding-top: 24px">
        <p style="display: inline">Hello,</p>
        <p style="display: inline; font-weight: bold">Shoppers,</p>
      </div>
      <p style="font-weight: bold; font-size: 18px">
        Come on, start activating your Shopedia account.
      </p>
      <div>
        <p>
          In a little while your account will be active. Just click the button
          below to activate your account.
        </p>
        <div>
          <a href="{{verificationLink}}" style="text-decoration: none">
            <div
              style="
                width: 100%;
                padding: 8px;
                font-weight: bold;
                color: white;
                background-color: #f7931e;
                border: 0px;
                border-radius: 5px;
                text-align: center;
              "
            >
              Activate Account
            </div>
          </a>
        </div>
        <p>The button above is only valid for 1 hour.</p>
      </div>
    </div>
  </body>
</html>
